@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #00579E;
  --secondary:#96031A;


}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f9fafb;
}

body {
  background: var(--background);
  /* color: var(--foreground); */
  font-family: Arial, Helvetica, sans-serif;
}

@layer components{
  .input-field{
   @apply w-full border-2 border-[var(--primary)] rounded-3xl p-3 focus:outline-none focus:ring-1 focus:ring-[var(--secondary)] focus:border-[var(--secondary)]
  }
}
